p{
    color: darkgray;
    font-size: x-large;
}
div{
    background-color: darkgray;
    
}
#clm{
    text-align: center;
    background-color: white;
}
#dmm{
    text-align: center;
    font-size: x-large;
    color: darkgray;
    background-color: white;
}

