h1{
    text-align: center;
}
div{
   background-color: white;
   text-align: center;
   font-size: x-large;
}
body{
    background-color: darkgray;
}
br{
    background-color: white;
}
b{
    text-align: center;
}
#cmm{
    text-align: left;
}